<div class="eaFlowInstanceDetails-wUserTaskConfirmNavigation">
    <h1 class="eaFlowInstanceDetails-wUserTaskConfirmNavigation-header ebDialogBox-primaryText">{{dictionary.userTask.backNavigation.header}}</h1>
    <p class="eaFlowInstanceDetails-wUserTaskConfirmNavigation-content ebDialogBox-secondaryText ">{{dictionary.userTask.backNavigation.content}}</p>

    <label>
        <input type="checkbox" class="eaFlowInstanceDetails-wUserTaskConfirmNavigation-input"/>
        <span class="eaFlowInstanceDetails-wUserTaskConfirmNavigation-check-label">{{dictionary.userTask.backNavigation.rememberDecision}}</span>
    </label>

</div>