<div class="eaFlowCatalog-wTopPanel">
    <div class="eaFlowCatalog-wTopPanel-Sections">
        <input type="text" e-id="flowNameFilter"
               class="ebInput ebInput_width_small eaFlowCatalog-wTopPanel-Sections-filterByName"
               placeholder="{{ dictionary.topPanel.filter.byName }}">
    </div>
</div>