<div class="eaFlowInstanceDetails-wTableLinkCell">
    <a class="eaFlowInstanceDetails-wTableLinkCell-link" href="" target="_blank">{{view}}</a>
    <div class="eaFlowInstanceDetails-wTableLinkCell-notSupplied">{{notSupplied}}</div>
</div>
