<td class="eaFlowInstanceDetails-wEventSeverityCell">
    <span class="eaFlowInstanceDetails-wEventSeverityCell-background">
        <em class="eaFlowInstanceDetails-wEventSeverityCell-icon eaFlowInstanceDetails-wEventSeverityCell-icon ebIcon"></em><span
            class="eaFlowInstanceDetails-wEventSeverityCell-text"></span>
    </span>
</td>
