<div class="eaFlowInstanceDetails-rReportTab">
    <div class="eaFlowInstanceDetails-rReportTab-headerAndActions">
        <span class="eaFlowInstanceDetails-rReportTab-header">{{dictionary.tabs.report}}</span>
        <div class="ebBtnGroup eaFlowInstanceDetails-rReportTab-actions">
            <label>
                <input class="eaFlowInstanceDetails-rReportTab-actions-setupData-input" type="radio" name="btngrpradio"
                       value="1"/>
                <span class="ebBtn eaFlowInstanceDetails-rReportTab-actions-setupData">{{dictionary.tabs.setupData}}</span>
            </label>
            <label>
                <input class="eaFlowInstanceDetails-rReportTab-actions-execution-input" type="radio" name="btngrpradio"
                       value="1" checked="checked"/>
                <span class="ebBtn eaFlowInstanceDetails-rReportTab-actions-execution">{{dictionary.tabs.execution}}</span>
            </label>
        </div>
    </div>
    <div class="eaFlowInstanceDetails-rReportTab-data"></div>
</div>