<div class="eaFlowInstanceDetails-wText">
    <div class="eaFlowInstanceDetails-wText-inner">
        <label class="ebLabel eaFlowInstanceDetails-wText-label">
            <span class="ebLabel-text eaFlowInstanceDetails-wText-content-label"></span>
            <input type="text"
                   class="ebInput ebInput_labeled eb_wMargin eaFlowInstanceDetails-wText-content-value ebInput_width_long"/>
            <span class="ebInput-status eaFlowInstanceDetails-wText-error">
                <span class="ebInput-statusError eaFlowInstanceDetails-wText-error-text"></span>
            </span>
        </label>
        <div class="eaFlowInstanceDetails-wText-inner-description"></div>

    </div>
    <div class="eaFlowInstanceDetails-wText-info"></div>
</div>