<div class="eaFlowAutomation-rFlows">
    <a class="eaFlowAutomation-rFlows-catalogLink" href="/#flow-automation/flowcatalog">{{dictionary.catalog}}</a>
    <div class="eaFlowAutomation-rFlows-flowList">
    </div>
</div>