<e-link src="./_tableSettings.less" />

<div class="eaFlowAutomationLib-tableSettings">
    <div class="eaFlowAutomationLib-tableSettings-settings eb_scrollbar">
        <e-element src="tablelib/TableSettings" e-id="settings" e-options="settings"/>
    </div>
    <div class="eaFlowAutomationLib-tableSettings-controls">
        <button class="ebBtn ebBtn_color_darkBlue" e-id="apply">{{apply}}</button>
        <button class="ebBtn" e-id="cancel">{{cancel}}</button>
    </div>
</div>