<div class="eaFlowCatalog-wFlowImport">
    <form>

        <div class="eaFlowCatalog-wFlowImport-text-selectPackage-Label">
            <label>
                {{selectFile}}<br/>
            </label>
        </div>

        <div class="eaFlowCatalog-wFlowImport-container-flowPackage-Input"></div>
    </form>
</div>