<div class="eaFlowInstanceDetails-rTable">
    <div class="eaFlowInstanceDetails-rTable-topPanel">
        <div class="eaFlowInstanceDetails-rTable-topPanel-header">
            <h2 class="eaFlowInstanceDetails-rTable-topPanel-header-text"></h2>
        </div>
        <div class="eaFlowInstanceDetails-rTable-topPanel-filter"></div>
        <div class="eaFlowInstanceDetails-rTable-topPanel-clear"></div>
    </div>
    <div class="eaFlowInstanceDetails-rTable-header"></div>
    <div class="eaFlowInstanceDetails-rTable-table"></div>
</div>