<div class="eaFlowCatalog-rMain">
    <div class="eaFlowCatalog-rMain-titleAndFilters eaFlowCatalog-rMain-titleAndFilters_hidden">
        <div class="eaFlowCatalog-rMain-titleAndFilters-tableSettings"></div>
        <div class="eaFlowCatalog-rMain-titleAndFilters-title">
            <h2 class="eaFlowCatalog-rMain-titleAndFilters-title-resourceLabel">{{dictionary.main.header}}</h2>
            <p class="eaFlowCatalog-rMain-titleAndFilters-title-flows-count"></p>
            <!--  will be displayed or hidden by main Region -->
            <div class="eaFlowCatalog-rMain-titleAndFilters-title-selected eaFlowCatalog-rMain-titleAndFilters-title-selected_hidden">
                <span class="eaFlowCatalog-rMain-titleAndFilters-title-separator"></span>
                <label class="eaFlowCatalog-rMain-titleAndFilters-title-selected-label">{{dictionary.main.selected}}</label>
                <p class="eaFlowCatalog-rMain-titleAndFilters-title-selected-count"></p>
            </div>
            <div class="eaFlowCatalog-rMain-titleAndFilters-title-selected-clearSelection eaFlowCatalog-rMain-titleAndFilters-title-selected-clearSelection_hidden">
                <span class="eaFlowCatalog-rResults-actionPanel-left-clearSelection-separator">-</span>
                <a class="eaFlowCatalog-rMain-titleAndFilters-title-selected-clearSelection-link">{{dictionary.main.clear}}</a>
            </div>
        </div>
        <div class="eaFlowCatalog-rMain-titleAndFilters-filters"></div>
    </div>
    <div class="eaFlowCatalog-rMain-flowList">

    </div>
</div>