<div class="eaFlowInstanceDetails-rProcessDiagramTab">
    <div class="eaFlowInstanceDetails-rProcessDiagramTab-headerAndActions">
        <span class="eaFlowInstanceDetails-rProcessDiagramTab-header">{{dictionary.tabs.processDiagram}}</span>
        <div class="ebBtnGroup eaFlowInstanceDetails-rProcessDiagramTab-actions">
            <label>
                <input class="eaFlowInstanceDetails-rProcessDiagramTab-actions-definition-input" type="radio" name="btngrpradio" value="1"/>
                <span class="ebBtn eaFlowInstanceDetails-rProcessDiagramTab-actions-definition">{{dictionary.processDiagram.definitionButtonName}}</span>
            </label>
            <label>
                <input class="eaFlowInstanceDetails-rProcessDiagramTab-actions-activity-input" type="radio" name="btngrpradio" value="2" checked="checked"/>
                <span class="ebBtn eaFlowInstanceDetails-rProcessDiagramTab-actions-activity">{{dictionary.processDiagram.activityButtonName}}</span>
            </label>
        </div>
    </div>
    <div class="eaFlowInstanceDetails-rProcessDiagramTab-diagram">
    </div>
    <div class="eaFlowInstanceDetails-rProcessDiagramTab-errorsection">
    </div>
</div>