<div class="eaFlowInstanceDetails-wChoice">
    <div class="eaFlowInstanceDetails-wChoice-inner">
        <label>
            {{#if isCheckBox}}
                <input class="ebCheckbox eaFlowInstanceDetails-wChoice-input" type="checkbox"/>
                <span class="ebCheckbox-inputStatus"></span>
            {{else}}
                <input class="ebRadioBtn eaFlowInstanceDetails-wChoice-input" type="radio"/>
                <span class="ebRadioBtn-inputStatus"></span>
            {{/if}}
        </label>

        <div class="eaFlowInstanceDetails-wChoice-inner-content">
            <span class="ebCheckbox-label eaFlowInstanceDetails-wChoice-label"></span>
        </div>
        <div class="eaFlowInstanceDetails-wChoice-inner-description"></div>
    </div>
    <div class="eaFlowInstanceDetails-wChoice-info"></div>
</div>