<div class="eaFlowInstanceDetails-rUserTasks">
    <div class="eaFlowInstanceDetails-rUserTasks-userTaskList">
        <div class="eaFlowInstanceDetails-rUserTasks-userTaskList-header">
            <div class="eaFlowInstanceDetails-rUserTasks-userTaskList-header-userTaskButtonHolder"></div>
            <h2>{{dictionary.header}}</h2>
        </div>
        <div class="eaFlowInstanceDetails-rUserTasks-userTaskList-content"></div>
    </div>
</div>