<div class="eaFlowInstanceDetails-rSummary">
    <div class="eaFlowInstanceDetails-rSummary-inner">
        <h3 class="eaFlowInstanceDetails-rSummary-header"></h3>
        <div class="eaFlowInstanceDetails-rSummary-inner-description"></div>
    </div>
    <div class="eaFlowInstanceDetails-rSummary-summary"></div>
</div>