<div class="eaFlowInstanceDetails-wUserTaskForm">
    <form class="eaFlowInstanceDetails-wUserTaskForm-form">
        <div class="eaFlowInstanceDetails-wUserTaskForm-header">
            <h2 class="eaFlowInstanceDetails-wUserTaskForm-header-title">{{header}}</h2>
            <div class="ebNotification ebNotification_color_red eaFlowInstanceDetails-wUserTaskForm-header-error">
                <div class="ebNotification-content">
                    <span class="ebNotification-icon">
                        <i class="ebIcon ebIcon_error"></i>
                    </span>
                    <span class="ebNotification-label eaFlowInstanceDetails-wUserTaskForm-header-error-message">Error Message</span>
                </div>
            </div>
        </div>
        <div id="utFormContent" class="eaFlowInstanceDetails-wUserTaskForm-form-content eb_scrollbar"></div>
        <div class="eaFlowInstanceDetails-wUserTaskForm-form-actions"></div>
    </form>
</div>
