<e-link src="./_tableSettingsButton.less"/>

<div class="eaFlowAutomationLib-tableSettingsButton">
    <i class="ebIcon ebIcon_settings eaFlowAutomationLib-tableSettingsButton-icon"></i>
    <span class="eaFlowAutomationLib-tableSettingsButton-text">{{caption}}</span>
</div>