<div class="eaFlowInstanceDetails-rSetupData">
    <div class="eaFlowInstanceDetails-rSetupData-button-container">
        <button class="ebBtn eaFlowInstanceDetails-rSetupData-button"/>
    </div>
    <div class="eaFlowInstanceDetails-rSetupData-setupData"></div>
</div>