<td class="eaFlowInstanceDetails-wUserTaskTableCell">
    <div style="float: left;"><i class="eaFlowInstanceDetails-wUserTaskTableCell-arrowIcon ebIcon ebIcon_interactive ebIcon_rightArrow"></i></div>
    <div style="float: left; margin-top: 2px"><span class="eaFlowInstanceDetails-wUserTaskTableCell-text"></span></div>
    <div style="float: right;"><i class="eaFlowInstanceDetails-wUserTaskTableCell-tickIcon ebIcon ebIcon_tick" style="display: none;"></i></div>
</td>
