<div class="eaFlowInstanceDetails-wEmail">
    <div class="eaFlowInstanceDetails-wEmail-inner">
        <label class="ebLabel eaFlowInstanceDetails-wEmail-label">
            <span class="ebLabel-text eaFlowInstanceDetails-wEmail-content-label"></span>
            <span class="eaFlowInstanceDetails-wEmail-content-value"></span>
            <span class="ebInput-status eaFlowInstanceDetails-wEmail-error">
                <span class="ebInput-statusError eaFlowInstanceDetails-wEmail-error-text"></span>
            </span>
        </label>
        <div class="eaFlowInstanceDetails-wEmail-inner-description"></div>
    </div>
    <div class="eaFlowInstanceDetails-wEmail-info">
    </div>
</div>