<div class="eaFlowInstanceDetails-wFileSelector">
    <div class="eaFlowInstanceDetails-wFileSelector-inner">
        <div class="eaFlowInstanceDetails-wFileSelector-button"></div>
        <span class="eaFlowInstanceDetails-wFileSelector-textBox-fileName">
        </span> <i class="eaFlowInstanceDetails-wFileSelector-remove-file ebIcon ebIcon_close_red"></i>
        <span class="ebInput-status eaFlowInstanceDetails-wFileSelector-status">
            <span class="ebInput-statusError eaFlowInstanceDetails-wFileSelector-textBox-fileName-error"></span>
        </span>
        <input type="file" class="eaFlowInstanceDetails-wFileSelector-fileSelectorInput"/>
    </div>
    <div class="eaFlowInstanceDetails-wFileSelector-info"></div>
</div>