<div class="eaFlowInstanceDetails-rSection">
    <div class="eaFlowInstanceDetails-rSection-all">
        <div class="eaFlowInstanceDetails-rSection-inner">
            <h2 class="eaFlowInstanceDetails-rSection-header"></h2>
            <div class="eaFlowInstanceDetails-rSection-inner-description"></div>
        </div>
        <div class="eaFlowInstanceDetails-rSection-contents"></div>
    </div>
</div>