<div class="eaFlowInstanceDetails-rTextLine">
   <div class="eaFlowInstanceDetails-rTextLine-name"></div>
   <div class="eaFlowInstanceDetails-rTextLine-value">
      <a class="eaFlowInstanceDetails-rTextLine-link" href="" target="_blank">{{view}}</a>
   </div>
</div>