<div class="eaFlowAutomation-rInstances">
    <div class="eaFlowAutomation-rInstances-statistics"></div>
    <div class="ebLayout-SectionHeading">
        <h2 class="eaFlowAutomation-rInstances-defaultHeader">{{dictionary.flowsTitle}}</h2>
        <div class="eaFlowAutomation-rInstances-tableSettings"></div>
        <div class="eaFlowAutomation-rInstances-myInstances ebBtnGroup">
            <label>
                <input type="checkbox" class="eaFlowAutomation-rInstances-myInstances-value" value="1"
                       checked="checked"/>
                <span class="eaFlowAutomation-rInstances-myInstances-button ebBtn">{{dictionary.myFlowInstances}}</span>
            </label>
        </div>
    </div>
    <div class="eaFlowAutomation-rInstances-noInstancesWarning"></div>
    <div class="eaFlowAutomation-rInstances-tableHolder">
    </div>
</div>