<div class="elFlowAutomationLib-wProcessActivityDiagram-diagram">
    <div class="elFlowAutomationLib-wProcessActivityDiagram-diagram-section">
        <div class="elFlowAutomationLib-wProcessActivityDiagram-diagram-breadcrumbs">
        </div>
        <div class="elFlowAutomationLib-wProcessActivityDiagram-diagram-status">
        </div>
        <div class="elFlowAutomationLib-wProcessActivityDiagram-diagram-toolbarAndDiagram">
            <div class="elFlowAutomationLib-wProcessActivityDiagram-diagram-toolbar">
                <div class="elFlowAutomationLib-wProcessActivityDiagram-diagram-zoomControls">
                    <i class="elFlowAutomationLib-wProcessActivityDiagram-diagram-zoomIn ebIcon ebIcon_plus"></i> 
                    <i class="elFlowAutomationLib-wProcessActivityDiagram-diagram-zoomOut ebIcon ebIcon_minus"></i> 
                    <i class="elFlowAutomationLib-wProcessActivityDiagram-diagram-zoomReset ebIcon ebIcon_site"></i> 
                </div>
            </div>
            <div class="elFlowAutomationLib-wProcessActivityDiagram-diagram-diagramContent">
                <div id="activity-processDiagram" class="elFlowAutomationLib-wProcessActivityDiagram-diagram-draggableContent"></div>
            </div>
        </div>
    </div>
    <div class="elFlowAutomationLib-wProcessActivityDiagram-diagram-errorsection">
    </div>
</div>
