<div class="eaFlowInstanceDetails-wListBox">
    <div class="eaFlowInstanceDetails-wListBox-inner">
        <div class="eaFlowInstanceDetails-wListBox-label-holder">
            <span class="eaFlowInstanceDetails-wListBox-label"></span>
        </div>
        <div class="eaFlowInstanceDetails-wListBox-listBox"></div>
    </div>
    <div class="eaFlowInstanceDetails-wListBox-info"></div>
</div>