<div class='eaFlowCatalog-rFlowSummary'>
    <div class="eaFlowCatalog-rFlowSummary-content eaFlowCatalog-rFlowSummary-content_hidden">

        <div class="eaFlowCatalog-rFlowSummary-content-flowName">
            <label class="eaFlowCatalog-rFlowSummary-content-flowName-label"></label>
        </div>

        <div class="eaFlowCatalog-rFlowSummary-content-flowVersion">
            <label class="eaFlowCatalog-rFlowSummary-content-flowVersion-label">{{dictionary.summary.header.flowVersion}}</label>
            <p class="eaFlowCatalog-rFlowSummary-content-flowVersion-content">
            </p>
        </div>
        <div class="eaFlowCatalog-rFlowSummary-content-flowDescription">
            <label class="eaFlowCatalog-rFlowSummary-content-flowDescription-label">{{dictionary.summary.header.description}}</label>
            <p class="eaFlowCatalog-rFlowSummary-content-flowDescription-content">
            </p>
        </div>

    </div>
    <div class="eaFlowCatalog-rFlowSummary-empty eaFlowCatalog-rFlowSummary-empty_hidden "></div>
</div>