<div class="eaFlowInstanceDetails-wLink">
    <div class="eaFlowInstanceDetails-wLink-inner">
        <div class="eaFlowInstanceDetails-wLink-container">
            <span class="ebLabel-text  eaFlowInstanceDetails-wLink-label"></span>
            <a class="eb_wMargin eaFlowInstanceDetails-wLink-link" target="_blank"></a>
        </div>
        <div class="eaFlowInstanceDetails-wLink-inner-description"></div>
    </div>
    <div class="eaFlowInstanceDetails-wLink-info"></div>
</div>