<div class="eaFlowInstanceDetails-rFlowInstanceDetails">
    <div class="eaFlowInstanceDetails-rFlowInstanceDetails-summary"></div>
    <div class="eaFlowInstanceDetails-rFlowInstanceDetails-tabs"></div>
</div>