<div class="eaFlowInstanceDetails-wfilter">
    <div class="eaFlowInstanceDetails-wfilter-apply">

    </div>
    <div class="eaFlowInstanceDetails-wfilter-filterTextBox">
        <input type="text" e-id="filterTextBox"
               class="ebInput ebInput_width_long eaFlowInstanceDetails-wfilter-filterTextBox-input"
               placeholder="{{ defaultFilterText }}">
    </div>
    <div class="eaFlowInstanceDetails-wfilter-dropdown">

    </div>
</div>D