<div class="eaFlowInstanceDetails-wReadOnly">
    <div class="eaFlowInstanceDetails-wReadOnly-inner">
        <div class="eaFlowInstanceDetails-wReadOnly-inner-group">
            <div class="eaFlowInstanceDetails-wReadOnly-inner-titleBox">
                <label class="eaFlowInstanceDetails-wReadOnly-inner-titleBox-title ebText_alternative"></label>
            </div>
            <div class="eaFlowInstanceDetails-wReadOnly-inner-valueBox">
                <label class="eaFlowInstanceDetails-wReadOnly-inner-valueBox-value"></label>
            </div>
        </div>
        <div class="eaFlowInstanceDetails-wReadOnly-inner-description"></div>
    </div>
    <div class="eaFlowInstanceDetails-wReadOnly-info"></div>
</div>