<div class="eaFlowInstanceDetails-wPopupTableButton">
    <div class="eaFlowInstanceDetails-wPopupTableButton-header">
        <h3 class="eaFlowInstanceDetails-wPopupTableButton-header-title"> </h3>
        <div class="eaFlowInstanceDetails-wPopupTableButton-header-button"></div>
        <div class="eaFlowInstanceDetails-wPopupTableButton-header-selectedValue">
            <div class="eaFlowInstanceDetails-wPopupTableButton-header-selectedValue-title"></div>
            <div class="eaFlowInstanceDetails-wPopupTableButton-header-selectedValue-table">
            </div>
        </div>
        <div class="eaFlowInstanceDetails-wPopupTableButton-header-info"></div>
    </div>
</div>