<td class="eaFlowInstanceDetails-wUsertaskSubmitStatusCell">
    <i class="eaFlowInstanceDetails-wUsertaskSubmitStatusCell-icon ebIcon {{prefix}}_{{modifier}}"></i>
    <span class="eaFlowInstanceDetails-wUsertaskSubmitStatusCell-text"></span>
</td>
