<div class="eaFlowInstanceDetails-wSelectBox">
    <div class="eaFlowInstanceDetails-wSelectBox-inner">
        <div class="eaFlowInstanceDetails-wSelectBox-inner-div">
            <div class="eaFlowInstanceDetails-wSelectBox-label-holder">
                <span class="eaFlowInstanceDetails-wSelectBox-label"></span>
            </div>
            <div class="eaFlowInstanceDetails-wSelectBox-selectBox"></div>
        </div>
        <div class="eaFlowInstanceDetails-wSelectBox-inner-description"></div>
    </div>
    <div class="eaFlowInstanceDetails-wSelectBox-info"></div>

</div>