<div class="eaFlowInstanceDetails-wInteger">
    <div class="eaFlowInstanceDetails-wInteger-inner">
        <div class="eaFlowInstanceDetails-wInteger-group">
            <div class="eaFlowInstanceDetails-wInteger-label-holder">
                <span class="eaFlowInstanceDetails-wInteger-label"></span>
            </div>
            <div class="eaFlowInstanceDetails-wInteger-spinner"></div>
        </div>
        <div class="eaFlowInstanceDetails-wInteger-inner-description"></div>
    </div>
    <div class="eaFlowInstanceDetails-wInteger-info"></div>
</div>

