<div class="eaFlowAutomationLib-wFlowExecute">
    <form>
        <div class="eaFlowAutomationLib-wFlowExecute-container">
            <label class="eaFlowAutomationLib-wFlowExecute-container-flowInstanceName-label">
                <span class="ebLabel-text ebLabel-text_required">{{dictionary.execute.name}}</span>
            </label>
            <div class="eaFlowAutomationLib-wFlowExecute-container-flowInstanceName-wrapper">
                <div>
                    <input type="text" class="ebInput ebInput_labeled eaFlowAutomationLib-wFlowExecute-container-flowInstanceName"
                           placeholder="{{dictionary.execute.validateName.nameRequired}}"/>
                </div>
            </div>
            <div class="eaFlowAutomationLib-wFlowExecute-container-flowInstanceNameErrorText ebInput-statusError"></div>
            <div class="eaFlowAutomationLib-wFlowExecute-container-flowSetupPhaseRequiredMessage ebInput-statusInfo"></div>
        </div>
    </form>
</div>