<div class="elFlowAutomationLib-wProcessDefinitionDiagram-diagram">
    <div class="elFlowAutomationLib-wProcessDefinitionDiagram-diagram-section">
        <div class="elFlowAutomationLib-wProcessDefinitionDiagram-diagram-breadcrumbs">
        </div>
        <div class="elFlowAutomationLib-wProcessDefinitionDiagram-diagram-status">
        </div>
        <div class="elFlowAutomationLib-wProcessDefinitionDiagram-diagram-toolbarAndDiagram">
            <div class="elFlowAutomationLib-wProcessDefinitionDiagram-diagram-toolbar">
                <div class="elFlowAutomationLib-wProcessDefinitionDiagram-diagram-zoomControls">
                    <i class="elFlowAutomationLib-wProcessDefinitionDiagram-diagram-zoomIn ebIcon ebIcon_plus"></i> 
                    <i class="elFlowAutomationLib-wProcessDefinitionDiagram-diagram-zoomOut ebIcon ebIcon_minus"></i> 
                    <i class="elFlowAutomationLib-wProcessDefinitionDiagram-diagram-zoomReset ebIcon ebIcon_site"></i> 
                </div>
            </div>
            <div class="elFlowAutomationLib-wProcessDefinitionDiagram-diagram-diagramContent">
                <div id="definition-processDiagram" class="elFlowAutomationLib-wProcessDefinitionDiagram-diagram-draggableContent"></div>
            </div>
        </div>
    </div>
    <div class="elFlowAutomationLib-wProcessDefinitionDiagram-diagram-errorsection">
    </div>
</div>
