<div class="eaFlowInstanceDetails-rUserTaskTab">
    <div class="eaFlowInstanceDetails-rUserTaskTab-userTasks"></div>
    <div class="eaFlowInstanceDetails-rUserTaskTab-userTasksDetails"></div>
</div>