<div class="eaFlowInstanceDetails-wdatePicker">
    <div class="eaFlowInstanceDetails-wdatePicker-inner">
        <span class="ebDatePicker-text eaFlowInstanceDetails-wdatePicker-content-label"></span>
        <span class="ebDatePicker-text eb_wMargin eaFlowInstanceDetails-wdatePicker-content-value"></span>

        <div class="eaFlowInstanceDetails-wdatePicker-inner-description"></div>
    </div>
    <div class="eaFlowInstanceDetails-wdatePicker-info"></div>
</div>