<div class="eaFlowInstanceDetails-rEventTaskTab">
    <div class="eaFlowInstanceDetails-rEventTaskTab-div">
        <div class="eaFlowInstanceDetails-rEventTaskTab-div-left"></div>
        <div class="eaFlowInstanceDetails-rEventTaskTab-div-right"></div>
    </div>
    <div class="eaFlowInstanceDetails-rEventTaskTab-noEventsWarning"></div>
</div>

